<h1>Users</h1>

<div id="users" class="list-group">
  <% @users.each do |user| %>
    <div class="list-group-item">
      <%= render user %>
      <p class="mt-2">
        <%= link_to "Show this user", user, class: 'btn btn-outline-primary' %>
      </p>
    </div>
  <% end %>
</div>

<%= link_to "New user", new_user_path %>
